.visor{
	width:170px;
	height:30px;
}

.bot7{
	width:30px;
	height:30px;
 	
}
.bot8{
	width:30px;
	height:30px;
 	
}
.bot9{
	width:30px;
	height:30px;
 	
}
.divisao{
	width:30px;
	height:30px;
 	
}
.porcento{
	width:30px;
	height:30px;
 	
}
.bot4{
	width:30px;
	height:30px;
 	
}
.bot5{
	width:30px;
	height:30px;
 	
}
.bot6{
	width:30px;
	height:30px;
 	
}
.vezes{
	width:30px;
	height:30px;
 	
}
.div1x{
	width:30px;
	height:30px;
 	
}
.bot1{
	width:30px;
	height:30px;
 	
}
.bot2{
	width:30px;
	height:30px;
 	
}
.bot3{
	width:30px;
	height:30px;
 	
}
.menos{
	width:30px;
	height:30px;
 
}
.bot0{
	width:65px;
	height:30px;
 
}
.virgula{
	width:30px;
	height:30px;
 
}
.mais{
	width:30px;
	height:30px;
 
}

.igual{
	position:absolute;
	top:165;
	width:30px;
	height:77px;
 	
}